version: "3"

services:
  # https://hub.docker.com/r/library/redis/
  redis:
    image: "redis:4-alpine"
    sysctls:
      # https://github.com/docker-library/redis/issues/35#issuecomment-331719180
      - "net.core.somaxconn=511"
    volumes:
      - "./redis/redis.conf:/etc/redis/redis.conf"
    command: "redis-server /etc/redis/redis.conf"
    ports:
     - "6379:6379"
